<section *ngIf="!isTournamentRoute()">
    <div class="footer-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <a href="javascript:void(0)" routerLink="/"> <img src="assets/img/footer-logo.svg"></a>
                </div>

                <div class="col-md-3 footer-links">
                    <div class="company-section">
                        <h5 class="text-white mb-4" trans>Company</h5>
                        <ul class="">
                            <li><a href="javascript:void(0)" routerLink="/about" trans>About Us </a></li>
                            <li><a href="javascript:void(0)" routerLink="/faqs" trans>FAQ </a></li>
                            <li><a href="javascript:void(0)" routerLink="/contact" trans>Contact Us </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 footer-links">
                    <div class="policy-section">
                        <h5 class="text-white mb-4" trans>Policy</h5>
                        <ul class="">
                            <li><a href="javascript:void(0)" routerLink="/privacy-policy" trans>Privacy Policy</a></li>
                            <li><a href="javascript:void(0)" routerLink="/terms-of-conditions" trans>Terms of Service</a></li>
                            <li><a href="javascript:void(0)" routerLink="/refund-policy" trans>Refund Policy</a></li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-md-2">
                    <div class="languages-section">
                        <h5 class="text-light">Languages</h5>
                        <ul class="">
                            <li><a href="#">English</a></li>
                            <li><a href="#">Spanish</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-md-3">
                    <div class="dj-mixing-section">
                        <h5 class="text-white mb-4" trans>Follow Us</h5>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-youtube"></i></a>
                        </div>
                        <!-- <p class="mt-4 become-a-label">Become a label</p> -->
                    </div>
                </div>
            </div>
            <hr class="horizontal-line mt-5">
            <p class="text-center copy-right mb-0" trans>© 2021 DJ Mixing Lab | All Rights Reserved</p>
        </div>
    </div>
</section>