@import "variables";

:host {
  display: block;
  width: $modal-default-width;
  max-width: 100%;
}
.example-pizza-party {
  color: hotpink;
}


p {
  font-family: Lato;
}

.alert  {
  position: bottom;
  top: 0;
  right: 0.5rem;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 20px;
  background: #fff;
  color: #f65656;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all 0.2s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translatex(1.25rem);
}
