<form (ngSubmit)="submit()" class="many-inputs custrackform" [formGroup]="form" *ngIf="errors$ | async as errors">
    <div class="inline-form" *ngIf="albumForm" [formGroup]="form">
        <ng-content></ng-content>
        <div class="input-container">
            <label [for]="'track-form-' + uniqueId + '-name'" class="hidden" trans>Title</label>
            <input type="text" [id]="'track-form-' + uniqueId + '-name'" formControlName="name" required>
        </div>
        <div class="actions">
            <button type="button" [class.active]="expanded" mat-icon-button (click)="toggleExpandedState()">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button type="button" (click)="maybeCancel()" mat-icon-button>
                <mat-icon svgIcon="delete"></mat-icon>
            </button>
        </div>
    </div>
    <div [@bodyExpansion]="getExpandedState()" class="full-form">
        <div class="" [class.inside-album]="albumForm">
            <div class="error-group many-inputs">
                <div class="inline-inputs-container">
                    <div class="input-container">
                        <label for="user" trans>Label</label>
                        <input type="text" id="user" placeholder="Search for user..." [formControl]="userAutocomplete" [matAutocomplete]="auto" required>
                        <!-- <div class="error" *ngIf="errors.user_id">{{errors.user_id}}</div> -->
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">{{ user.email }}</mat-option>
                        </mat-autocomplete>
                    </div>
                    
                </div>
            </div>
            <div class="error-group many-inputs">
                <div class="inline-inputs-container">
                    <div class="input-container">
                        <div class="input-container" *ngIf="!albumForm">
                            <label [for]="'track-form-' + uniqueId + '-name'" trans>Title</label>
                            <input type="text" [id]="'track-form-' + uniqueId + '-name'" formControlName="name" required>
                            <div class="error" *ngIf="showError('name')">This is a requird field</div>
                        </div>
                    </div>
                    <div class="input-container" style="padding-top: 15px;">
                        <track-artist-control [error]="errors.artists" [id]="'track-form-' + uniqueId + '-artists'" formControlName="artists" *ngIf="settings.get('player.artist_type') === 'artist' || insideAdmin()"></track-artist-control>
                        <div class="error" *ngIf="showError('artists')">This is a requird field</div>
                    </div>
                </div>
            </div>
            <div class="error-group many-inputs">
                <div class="inline-inputs-container">
                    <div class="input-container">
                        <div class="input-container" *ngIf="!albumForm">
                            <label [for]="'track-form-' + uniqueId + '-bpm'" trans>BPM</label>
                           <!--  <input type="text" [id]="'track-form-' + uniqueId + '-bpm'" formControlName="bpm" required> -->
                            <select [id]="'track-form-' + uniqueId + '-bpm'" formControlName="bpm">
                                <option value="">Select Bpm</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                            <div class="error" *ngIf="showError('bpm')">This is a requird field</div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="input-container" *ngIf="!albumForm">
                            <label [for]="'track-form-' + uniqueId + '-category'" trans>Category</label>
                           <!--  <input type="text" [id]="'track-form-' + uniqueId + '-category'" formControlName="category" required> -->
                            <select [id]="'track-form-' + uniqueId + '-category'" formControlName="category">
                                <option value="">Select Category</option>
                                <option *ngFor="let cates of allCategories" value="{{cates.id}}">{{cates.name}}</option>
                            </select>
                            <div class="error" *ngIf="showError('category')">This is a requird field</div>
                        </div>
                    </div>
                    <div class="input-container">
                        <label [for]="'track-form-' + uniqueId + '-track-genres'" trans>Genres</label>
                        <chip-input [ngClass]="{'disableselect': !form.get('category').value}" placeholder="+Add genre" [id]="'track-form-' + uniqueId + '-track-genres'"[suggestFn]="suggestGenreFnWc" formControlName="genres"></chip-input>
                        <div class="error" *ngIf="showError('genres')">This is a requird field</div>
                    </div>
                </div>
            </div>
            <div class="error-group many-inputs">
                <div class="inline-inputs-container">
                    <div class="input-container">
                        <label [for]="'track-form-' + uniqueId + '-track-subgenres'" trans>Sub Genres</label>
                        <chip-input placeholder="+Add genre" [id]="'track-form-' + uniqueId + '-track-subgenres'"[suggestFn]="suggestSubgenreFn" formControlName="subgenres"></chip-input>
                        <div class="error" *ngIf="showError('subgenres')">This is a requird field</div>
                    </div>
                    <div class="input-container">
                        <div class="input-container" *ngIf="!albumForm">
                            <label [for]="'track-form-' + uniqueId + '-key'" trans>Key </label>
                            <!-- <input type="text"  required> -->
                            <select [id]="'track-form-' + uniqueId + '-key'" formControlName="key">
                                <option value="">Select Key</option>
                                <option value="key1">Key 1</option>
                                <option value="key2">Key 2</option>
                            </select>
                            <div class="error" *ngIf="showError('key')">This is a requird field</div>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="input-container" *ngIf="!albumForm">
                            <label [for]="'track-form-' + uniqueId + '-date'" trans>Date</label>
                            <input type="date" [id]="'track-form-' + uniqueId + '-date'" formControlName="date" required>
                            <div class="error" *ngIf="showError('date')">This is a requird field</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="error-group many-inputs">
                <div class="inline-inputs-container">
                    <div class="input-container">
                        <mat-slide-toggle [checked]="defaultIschecked()" (change)="changeDefault($event.checked ? 'on' : 'off', null)"></mat-slide-toggle>
                        <!-- <input type="checkbox" [id]="'track-form-' + uniqueId + '-default'" formControlName="default" required (change)="changeDefault($event.target.checked ? 'on' : 'off')" class="defaultcheckbox"> -->
                        <button mat-flat-button color="accent" type="button" class="left-column-action-button defaultcheckboxbutton" (click)="openUploadMusicModal('def')">
                            <span *ngIf="this.track" trans>Replace File</span>
                            <span *ngIf="!this.track" trans>Upload Track</span>
                        </button>
                        <div class="error" *ngIf="showError('url')">This is a requird field</div>
                    </div>
                    <div class="input-container">
                        <div class="input-container" *ngIf="getUrlVal('url')">
                            <label [for]="'track-form-' + uniqueId + '-name'" trans>Url </label>
                            <input type="text" value="{{ getUrlVal('url') }}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="error-group many-inputs">
                <div class="inline-inputs-container addversion-section">
                    <a href="javascript:void(0)" (click)="versioncount()" class="addversion">Add version</a>
                </div>
            </div>





            <div *ngFor="let i of varsionCount;" class="version-section">
                <div class="error-group many-inputs">
                    <div class="inline-inputs-container remove-section">
                        <a href="javascript:void(0)" (click)="removeVersion(i)" class="removeversion">Remove</a>
                    </div>
                    <div class="inline-inputs-container">
                        <div class="input-container">
                            <div class="input-container" *ngIf="!albumForm">
                                <label [for]="'track-form-' + uniqueId + '-title'" trans>Title</label>
                                <input type="text" [id]="'versiontitle'+i" formControlName="{{getformname(i, 'title')}}" required>
                                <div class="error" *ngIf="showError(getformname(i, 'title'))">This is a requird field</div>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="input-container" *ngIf="!albumForm">
                                <label [for]="'track-form-' + uniqueId + '-name'" trans>Category</label>
                                <!-- <input type="text" [id]="'track-form-' + uniqueId + '-name'" formControlName="{{getformname(i, 'category')}}" required> -->
                                <select [id]="'track-form-' + uniqueId + '-category'" formControlName="{{getformname(i, 'category')}}">
                                    <option value="">Select Category</option>
                                    <option *ngFor="let cates of allCategories" value="{{cates.id}}">{{cates.name}}</option>
                                </select>
                                <div class="error" *ngIf="showError(getformname(i, 'category'))">This is a requird field</div>
                            </div>
                        </div>
                        <div class="input-container">
                            <label [for]="'track-form-' + uniqueId + '-track-genres'" trans>Genres</label>
                            <chip-input placeholder="+Add genre" [id]="'track-form-' + uniqueId + '-track-genres'"[suggestFn]="suggestGenreFn" formControlName="{{getformname(i, 'genres')}}"></chip-input>
                            <div class="error" *ngIf="showError(getformname(i, 'genres'))">This is a requird field</div>
                        </div>
                    </div>
                </div>
                <div class="error-group many-inputs">
                    <div class="inline-inputs-container">
                        <div class="input-container">
                            <label [for]="'track-form-' + uniqueId + '-track-genres'" trans>Sub Genres</label>
                            <chip-input placeholder="+Add genre" [id]="'track-form-' + uniqueId + '-track-genres'"[suggestFn]="suggestSubgenreFn" formControlName="{{getformname(i, 'subgenres')}}"></chip-input>
                            <div class="error" *ngIf="showError(getformname(i, 'subgenres'))">This is a requird field</div>
                        </div>
                        <div class="input-container">
                            <div class="input-container" *ngIf="!albumForm">
                                <label [for]="'track-form-' + uniqueId + '-name'" trans>Key </label>
                                <!-- <input type="text" [id]="'track-form-' + uniqueId + '-name'" formControlName="{{getformname(i, 'key')}}" required> -->
                                <select [id]="'track-form-' + uniqueId + '-key'" formControlName="{{getformname(i, 'key')}}">
                                    <option value="">Select Key</option>
                                    <option value="key1">Key 1</option>
                                    <option value="key2">Key 2</option>
                                </select>
                                <div class="error" *ngIf="showError(getformname(i, 'key'))">This is a requird field</div>
                            </div>
                        </div>
                         <div class="input-container">
                            <div class="input-container" *ngIf="!albumForm">
                                <label [for]="'track-form-' + uniqueId + '-name'" trans>BPM</label>
                                <!-- <input type="text" [id]="'track-form-' + uniqueId + '-name'" formControlName="{{getformname(i, 'bpm')}}" required> -->
                                <select [id]="'track-form-' + uniqueId + '-bpm'" formControlName="{{getformname(i, 'bpm')}}">
                                    <option value="">Select Bpm</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                                <div class="error" *ngIf="showError(getformname(i, 'bpm'))">This is a requird field</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="error-group many-inputs">
                    <div class="inline-inputs-container">
                        <div class="input-container">
                            <mat-slide-toggle [checked]="defaultIschecked(i)" (change)="changeDefault($event.checked ? 'on' : 'off', i)"></mat-slide-toggle>
                            <!-- <input class="defaultcheckbox" type="checkbox" [id]="'track-form-' + uniqueId + '-name'" formControlName="{{getformname(i, 'default')}}" required (change)="changeDefault($event.target.checked ? 'on' : 'off', i)" title="Default"> -->
                       
                            <button mat-flat-button color="accent" type="button" class="defaultcheckboxbutton left-column-action-button" (click)="openUploadMusicModal(i)">
                                <span *ngIf="getUrlVal(getformname(i, 'url'))" trans>Replace File</span>
                                <span *ngIf="!getUrlVal(getformname(i, 'url'))" trans>Upload Track</span>
                            </button>
                            <div class="error" *ngIf="showError(getformname(i, 'url'))">This is a requird field</div>
                        </div>
                        <div class="input-container">
                            <div class="input-container" *ngIf="getUrlVal(getformname(i, 'url'))">
                                <label [for]="'track-form-' + uniqueId + '-name'" trans>Url </label>
                                <input type="text" value="{{getUrlVal(getformname(i, 'url'))}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="many-inputs fields-container">
                <div class="input-container" style="display: none;">
                    <label [for]="'track-form-' + uniqueId + '-duration'" trans>Duration (ms)</label>
                    <input type="number" [id]="'track-form-' + uniqueId + '-duration'" formControlName="duration" min="1" required>
                    <div class="error" *ngIf="errors.duration">{{errors.duration}}</div>
                    <div class="error" *ngIf="maxerror">Duration Must ne less then 5000000000000000000</div>
                </div>

                <button type="submit" mat-raised-button *ngIf="!albumForm" color="accent" [disabled]="(loading$ | async)" trans>Save</button>
                <button type="button" mat-button (click)="maybeCancel()" *ngIf="!albumForm && !track" trans>Cancel</button>
            </div>
        </div>
    </div>
</form>
