<section>
    <div class="input-group my-5">
      <input type="text" class="form-control search-bar" placeholder="Search..." aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2">
        <i class="bi bi-search"></i>
      </span>
    </div>
  
  
    <p>Search by</p>
    <form>
      <select class="form-select form-select-lg mb-2 category-selector">
        <option selected>Category</option>
        <option value="1"> Dance Misc</option>
        <option value="2">Urban</option>
        <option value="3">Latin</option>
        <option value="4"> Dj Tools</option>
        <option value="5">Holiday</option>
  
      </select>
      <select class="form-select form-select-lg mb-2 category-selector">
        <option selected>Genre</option>
        <option value="1"> Dance Misc</option>
        <option value="2">Urban</option>
        <option value="3">Latin</option>
        <option value="4"> Dj Tools</option>
        <option value="5">Holiday</option>
        <option value="6">Afro House</option>
        <option value="7">Afrobeat</option>
        <option value="8">Bachata</option>
        <option value="9">Big Room / Edm</option>
        <option value="10">Bollywood / Bhangra</option>
        <option value="11"> Brazilian Funk</option>
        <option value="12">Breakbeat</option>
        <option value="13">Classic Dance</option>
        <option value="14">Country</option>
        <option value="15">Cubaton</option>
        <option value="16">Cumbia</option>
        <option value="17">Dance Pop</option>
        <option value="18">Dancehall</option>
        <option value="19">Deep House</option>
        <option value="20">Dembow</option>
        <option value="21">Disco</option>
        <option value="22">Electro / Future House</option>
        <option value="23">Electro Pop</option>
        <option value="24">Freestyle</option>
        <option value="25">Funk</option>
        <option value="26">Guaracha</option>
        <option value="27">Hip-Hop</option>
        <option value="28">Hip-Hop 90's - 2k</option>
        <option value="29">Hip-Hop Classic</option>
        <option value="30">House</option>
        <option value="31">Latin Dance</option>
        <option value="32">Latin House</option>
        <option value="33">Latin Moombahton</option>
        <option value="34">Latin Pop</option>
        <option value="35">Latin Trap</option>
        <option value="36">Mambo</option>
        <option value="38">Merengue</option>
        <option value="39">Miami Bass</option>
        <option value="40">Minimal</option>
        <option value="41">Moombahton</option>
        <option value="42">Nu Disco</option>
        <option value="43">Oldies</option>
        <option value="44">Pop</option>
        <option value="45">Pop Classic</option>
        <option value="46">Progressive House</option>
        <option value="47">R&B</option>
        <option value="48">R&B 90's - 2k</option>
        <option value="49">R&B Classic</option>
        <option value="50">Reggae</option>
        <option value="51">Reggaeton</option>
        <option value="52">Regional Mexican</option>
        <option value="53">Retro / New Wave</option>
        <option value="54">Rock</option>
        <option value="55">Rock Classic</option>
        <option value="56">Salsa</option>
        <option value="57">Soca</option>
        <option value="58">Spanish Rock</option>
        <option value="59">Tech House</option>
        <option value="60">Tribal House</option>
        <option value="61">Tropical House</option>
        <option value="62">Vallenato</option>
      </select>
  
      <select class="form-select form-select-lg category-selector">
        <option selected>Sub-Genre</option>
        <option value="1">4th Of July</option>
        <option value="2">Acap In / Out</option>
        <option value="3">Acapella</option>
        <option value="4">Acapella Loops</option>
        <option value="5">Birthday</option>
        <option value="6">Blend</option>
        <option value="7">Christmas</option>
        <option value="8">Cinco De Mayo</option>
        <option value="9">Clap Intro</option>
        <option value="10">Halloween</option>
        <option value="11"> Hype Edit</option>
        <option value="12">Mashup</option>
        <option value="13">Movie / Tv Clips</option>
        <option value="14">Nye</option>
        <option value="15"> Party Break</option>
        <option value="16">Quick Hit</option>
        <option value="17">Re-Drum</option>
        <option value="18">Samples</option>
        <option value="19">Segway</option>
        <option value="20">Slam Intro</option>
        <option value="21">Soundtracks</option>
        <option value="22">St. Patricks</option>
        <option value="23">Tone Play</option>
        <option value="24">Transition Down</option>
        <option value="25">Transition Up</option>
        <option value="26">Valentines Day</option>
        <option value="27">Wedding</option>
        <option value="28">Word Play</option>
  
      </select>
    </form>
  
  </section>
  
  <section>
    <h2 class="my-5 tranding-list-heading">Trending List</h2>
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">1</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>All Too Well (10 Minnnnn)</h4>
        <p class="mb-0">Ed Sheeran</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots listing-dots"></i>
        </button>
      </div>
    </div>
  
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">2</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Cold Heart - PNAU Remix</h4>
        <p class="mb-0">Elton John, Dua lipa, PNAU</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">3</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Heat Waves</h4>
        <p class="mb-0">Glass Animals</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">4</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Shivers</h4>
        <p class="mb-0">Ed Sheeran</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">5</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Can I Get it</h4>
        <p class="mb-0">Adele</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">6</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Pepas</h4>
        <p class="mb-0">Farruko</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample6">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">7</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Oh My God</h4>
        <p class="mb-0">Farruko</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample7">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">8</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>INDUSTRY BABY (feat.)</h4>
        <p class="mb-0">Lil Nas X, Jack Harlow</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample8" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample8">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">9</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Heat Waves</h4>
        <p class="mb-0">Glass Animals</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample9" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample9">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">10</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Shivers</h4>
        <p class="mb-0">Ed Sheeran</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample10" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample10">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">11</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>All Too Well (10 Minnnn)</h4>
        <p class="mb-0">Ed Sheeran</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample11" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample11">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">12</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Cold Heart - PNAU Remix</h4>
        <p class="mb-0">Elton John, Dua lipa, PNAU</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample12" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample12">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">13</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Heat Waves</h4>
        <p class="mb-0">Glass Animals</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample13" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample13">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">14</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Can I Get it</h4>
        <p class="mb-0">Adele</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample14" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample15">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">15</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Pepas</h4>
        <p class="mb-0">Farruko</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample15" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample16">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">16</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Oh My God</h4>
        <p class="mb-0">Farruko</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample16" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample17">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">17</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Oh My God</h4>
        <p class="mb-0">Farruko</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample17" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample17">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">18</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>INDUSTRY BABY (feat.)</h4>
        <p class="mb-0">Lil Nas X, Jack Harlow</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample18" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample18">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">19</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Heat Waves</h4>
        <p class="mb-0">Glass Animals</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample19" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample19">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
  
    <div class="tranding-list-container d-flex align-items-center p-2 mb-4">
      <div class="play-list ml-3">
        <h4 class="mb-0 fw-bolder counting">20</h4>
        <i class="bi bi-play-fill play-icon"></i>
      </div>
      <div class="play-song">
        <h4>Shivers</h4>
        <p class="mb-0">Ed Sheeran</p>
      </div>
      <div class="horizontal-list-dots">
        <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample20" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="bi bi-three-dots"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseExample20">
      <div class="card card-body">
        <ul>
          <li><a href="#">Go to Track Radio</a></li>
          <li><a href="#">Remove from Queue</a></li>
          <li><a href="#">Add to Playlist
              <i class="bi bi-chevron-right ml-3"></i>
            </a></li>
          <li><a href="#">Save to Your Music</a></li>
          <li><a href="#">Show Lyrics</a></li>
          <li><a href="#">Copy Track Link</a></li>
          <li><a href="#">Share</a></li>
        </ul>
      </div>
    </div>
  
    <div class="text-center my-5 view-all-list">
      <a href="#">View all</a>
      <i class="bi bi-chevron-right ml-3"></i>
    </div>
  </section>
