@media (min-width: 1024px){
    web-player .space-wrapper {
        max-width: 100% !important;
    }
    web-player .player-content .page-content .mat-drawer-content {
        width: 90% !important;
    }
    nav-sidebar {
        width: 30% !important;
    }
}

@media only screen and (min-width: 1600px) and (max-width:1920px){
.nav-link{
    font-size: 22px;
}
.be-dark-mode #dropdownMenuButton1 {
    font-size: 18px;
}
#dropdownMenuButton1 {
    font-size: 18px;
}
.be-dark-mode #dropdownMenuButton1 span {
    padding-left: 3px;
}
#dropdownMenuButton1 span {
    padding-left: 3px;
}
.footer-links ul li a {
    font-size: 22px;
    line-height: 35px !important;
}
p.copy-right{
    font-size: 20px;
}
.footer-wrapper h5 {
    font-size: 28px;
    font-family: "Gordita Medium";
}
.social-icons i {
    font-size: 32px;
}
// home-start
.rocord-pool h1 {
    font-size: 80px;
}
.rocord-pool p {
    font-size: 26px;
}
.Daily-Releases-wrapper i {
    font-size: 58px;
}
.Daily-Releases-wrapper h5 {
    font-size: 30px;
}
.Daily-Releases-wrapper p {
    font-size: 19px;
}
.Daily-Releases-wrapper ul li {
    font-size: 17px;
}
.library-section h1 {
    font-size: 65px;
}
.library-section p {
    font-size: 26px;
}
.Curated-Playlists-wrapper h1 {
    font-size: 66px;
}
.Curated-Playlists-wrapper p {
    font-size: 26px;
}
.become-a-label-wrapper h1 {
    font-size: 60px;
}
.become-a-label-wrapper p {
    font-size: 22px;
}
.become-a-label-wrapper i {
    font-size: 58px;
}
.become-a-label-wrapper h3 {
    font-size: 30px;
}
.label-wrapper-info {
    font-size: 20px !important;
}
.compare-planes-wrapper h1 {
    font-size: 52px;
}
.compare-planes-wrapper p {
    font-size: 20px;
}
.table-headings h4 {
    font-size: 32px;
}
.monthly-plans h6 {
    font-size: 32px;
}
.monthly-plans p {
    font-size: 22px;
}
.charges {
    font-size: 32px;
}
.month {
    font-size: 20px;
}
.btn {
    font-size: 20px;
}
.music-source-wrapper h1 {
    font-size: 62px;
}
.music-source-wrapper p {
    font-size: 23px;
}

// home-end

// account-start
// .be-dark-mode .dark-dj-logo {
//     height: 65px;
// }
.complete-profile-wrapper h1 {
    font-size: 45px;
}
.account-tabs .nav-link {
    font-size: 22px;
}
// .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::before {
//     top: 7.9%;
// }
.profile-details {
    font-size: 35px;
}
.complete-profile-wrapper label {
    font-size: 22px !important;
}
.complete-profile-wrapper input::placeholder, .complete-profile-wrapper input {
    font-size: 20px !important;
}
.complete-profile-wrapper input {
    height: 58px;
}
.alert-close-icon {
    font-size: 24px;
}
.complete-profile-wrapper p {
    font-size: 22px;
}
.complete-profile-wrapper .material-table thead th {
    font-size: 18px;
}
.complete-profile-wrapper .material-table td{

    font-size: 22px;
}
.complete-profile-wrapper ul li .nav-link.active::before {
    top: 210px;
}
// account-end


// about-us start
.about-us-heading {
    font-size: 72px;
}
.about-dj-info {
    font-size: 24px;
}
// about-us end

// Faq start
.FAQ-heading {
    font-size: 42px;
}
.FAQ-tabs .nav-link {
    font-size: 32px;
}
.FAQ-accordion .accordion-button {
    font-size: 30px;
}
.be-dark-mode .FAQ-accordion ul li {
    font-size: 22px;
    line-height: 34px;
}

.FAQ-accordion .accordion-body {
    background-color: #fff;
    font-family: "Gordita Regular";
    font-size: 20px;
    line-height: 28px;
}
// Faq end


// login-start
.login-heading {
    font-size: 55px;
}
.login-wraaper .form-control {
    height: 65px;
    font-size: 22px !important;
}
.login-wraaper .error {
    margin: 1.7rem 0;
    font-size: 18px;
}
.login-wraaper .input-group-text {
    font-size: 26px;
    padding-right: 18px;
}
.login-wraaper .btn {
    font-size: 24px;
}
.forgot-password {
    font-size: 23px;
    margin-top: 10px;
}
.sign-up {
    font-size: 22px;
}
.be-dark-mode input:-webkit-autofill, .be-dark-mode input:-webkit-autofill:hover, .be-dark-mode input:-webkit-autofill:focus, .be-dark-mode input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px #242424 inset !important;
}
// login-end

}
@media only screen and (min-width: 1920px) and (max-width:2500px){
    // home-start
    .rocord-pool-wrapper{
        padding: 5% 0;
    }
    .rocord-pool h1 {
        font-size: 92px;
    }
    .rocord-pool p {
        font-size: 30px;
    }
    .Daily-Releases-wrapper i {
        font-size: 70px;
    }
    .Daily-Releases-wrapper h5 {
        font-size: 40px;
    }
    .Daily-Releases-wrapper p {
        font-size: 26px;
    }
    .Daily-Releases-wrapper ul li {
        font-size: 25px;
    }
    .library-section h1 {
        font-size: 75px;
    }
    .library-section p {
        font-size: 30px;
    }
    .Curated-Playlists-wrapper h1 {
        font-size: 75px;
    }
    .Curated-Playlists-wrapper p {
        font-size: 30px;
    }
    // .Curated-Playlists-wrapper img {
    //     left: 18%;
    //     height: 700px;
    // }
    .become-a-label-wrapper h1 {
        font-size: 72px;
    }
    .become-a-label-wrapper p {
        font-size: 28px;
    }
    .become-a-label-wrapper i {
        font-size: 70px;
    }
    .become-a-label-wrapper h3 {
        font-size: 35px;
    }
    .label-wrapper-info {
        font-size: 20px !important;
    }
    .compare-planes-wrapper h1 {
        font-size: 70px;
    }
    .compare-planes-wrapper p {
        font-size: 24px;
    }
    .table-headings h4 {
        font-size: 36px;
    }
    .monthly-plans h6 {
        font-size: 36px;
    }
    .monthly-plans p {
        font-size: 25px;
    }
    .charges {
        font-size: 38px;
    }
    .month {
        font-size: 24px;
    }
    .btn {
        font-size: 22px;
    }
    .music-source-wrapper h1 {
        font-size: 70px;
    }
    .music-source-wrapper p {
        font-size: 25px;
    }
    // home-end

// account-start
// .be-dark-mode .dark-dj-logo {
//     height: 65px;
// }
.complete-profile-wrapper h1 {
    font-size: 48px;
}
.account-tabs .nav-link {
    font-size: 24px;
}
.profile-details {
    font-size: 38px;
}
.complete-profile-wrapper label {
    font-size: 22px !important;
}
.complete-profile-wrapper input::placeholder, .complete-profile-wrapper input {
    font-size: 20px !important;
}
.complete-profile-wrapper input {
    height: 65px;
}
.alert-close-icon {
    font-size: 24px;
}
.complete-profile-wrapper p {
    font-size: 22px;
}
.complete-profile-wrapper .material-table thead th {
    font-size: 18px;
}
.complete-profile-wrapper .material-table td{

    font-size: 22px;
}
.complete-profile-wrapper ul li .nav-link.active::before {
    top: 238px;
}
// account-end


// about-us start
.about-us-heading {
    font-size: 80px;
}
.about-dj-info {
    font-size: 28px;
}
// about-us end

// Faq start
.FAQ-heading {
    font-size: 45px;
}
.FAQ-tabs .nav-link {
    font-size: 38px;
}
.FAQ-accordion .accordion-button {
    font-size: 35px;
}
.be-dark-mode .FAQ-accordion ul li {
    font-size: 24px;
    line-height: 40px;
}

.FAQ-accordion .accordion-body {
    background-color: #fff;
    font-family: "Gordita Regular";
    font-size: 24px;
    line-height: 35px;
}
// Faq end

// login-start
.login-heading {
    font-size: 60px;
}
.login-wraaper .error {
    margin: 1.7rem 0;
    font-size: 18px;
}
.login-wraaper .input-group-text {
    font-size: 26px;
    padding-right: 18px;
    height: 72px;
    margin: 5px 0;
}
.login-wraaper .btn {
    font-size: 26px;
}
.forgot-password {
    font-size: 23px;
    margin-top: 10px;
}
.sign-up {
    font-size: 22px;
}
.login-wraaper .form-control {
    height: 72px;
    margin: 5px 0;
    font-size: 22px !important;
}
.be-dark-mode input:-webkit-autofill, .be-dark-mode input:-webkit-autofill:hover, .be-dark-mode input:-webkit-autofill:focus, .be-dark-mode input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px #242424 inset !important;
}
// login-end


    .footer-wrapper h5 {
        font-size: 30px;
    }
    .footer-links ul li a {
        font-size: 24px;
        line-height: 38px !important;
    }

    // footer-logo

.footer-wrapper img{
        width: 45%;
    }

    // footer-logo-end
}


@media only screen and (max-width:1200px){
    .player-content .page-content .mat-drawer-content {
        width: auto !important;
    }
    .FAQ-tabs .nav-link {
        margin-right: 12px;
    }
}

@media only screen and (max-width:991px) {
/* header */
.navbar-brand {
    margin-right: 0px !important;
    // width: 42%;
    width: auto;
}
    /* header-end */

.Curated-Playlists-wrapper img {
width: 90% !important;
}

.rocord-pool h1 {
    font-size: 45px;
}

.library-section h1 {
    font-size: 45px;
}

.list-of-songs {
    height: auto !important;
}

.pagination-section {
    margin-top: -35px;
    margin-bottom: 8rem !important;
    display: contents;
}
.FAQ-tabs .nav-link {
    font-size: 16px;
    padding: 10px 18px;
    margin-right: 10px;
}
.FAQ-accordion .accordion-button {
    font-size: 16px;
    padding: 10px 10px;
    line-height: 25px;
}
.FAQ-accordion ul {
    font-size: 14px;
}
.accordion-wrapper .accordion-button {
    font-size: 16px;
    line-height: 26px;
}

.accordion-wrapper .accordion-body {
    font-size: 14px;
}
.responsive-header {
    // width: 36%;
}

// .userNameClass {
//     display: none;
// }

.langNameClass {
    display: none;
}
// .dropdown-menu.show {
//     left: -50px;
//   }
  .responsive-table tbody tr{
      padding: 5px !important;
  }

//   .navbar{
//       justify-content: inherit;
//   }

  .mobile-view-header .nav-link {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mobile-view-header {
    margin-top: 1rem;
}

.material-table td {
    border-color: #ddd;
    max-width: 100% !important;
}

.be-dark-mode .material-table td {
    border-color: #242424;
}
.responsive-header {
margin-left: auto;
}
.navbar-toggler-icon{
    height: auto;
}

.hide-filters{
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #181818;
    z-index: 4;
    padding: 5rem 1rem 1rem 1rem;
    width: 100%;
    height: 100vh;
    overflow: auto;
    transition: all .4s;
}

.showhide-filters{
    left:0;
    transition: all .4s;
}

// .tranding_list_icon img {
//     width: 8%;
// }

.tranding_list_icon svg{
    fill: #fff;
    width: 6%;
}

.text-drukWide-medium i {
    font-size: 18px;
    line-height: 0;
    margin-right: 3px;
}

.tranding_list_icon {
    display: contents;
}

.hide-filters-2{
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #181818;
    z-index: 4;
    padding: 5rem 1rem 1rem 1rem;
    width: 100%;
    height: 100vh;
    overflow: auto;
    transition: all .4s;
}

.showhide-filters-2{
    left:0;
    transition: all .4s;
}

.text-drukWide-medium {
    font-size: 14px;
    margin-right: 12px;
}

.text-drukWide-medium i {
    margin-right: 6px;
}

.hide-filters-2 table{
    margin-top: 0px;
}

.hide-filters-2 table tr {
    display: flex !important;
    align-items: center;
    width: 100%;
}

.hide-filters-2 .material-table td:first-of-type{
    width: 15%;
    margin-top: 0px;
}

.bg-wrapper .modal-content{
    width: 90% !important;
}

// volume-controls .progress-handle{
//     top: -1px;
//     width: 8px;
//     height: 8px;
// }

.downloaded-songs-list {
    height: auto !important;
}

}

@media (min-width: 768px){
.navbar-expand-md {
    flex-wrap: nowrap;
 justify-content: space-between; 
}
}

@media only screen and (max-width:767px){
  
.be-dark-mode .dark-dj-logo {
    height:35px;
    display: block;
}

.light-dj-logo {
    height: 35px;
    display: block;
}

.navbar-brand img {
    width: 100%;
}

.footer-links{
width: 50%;
margin: 1rem 0;
}

.rocord-pool{
    height: 500px;
}

.Curated-Playlists-wrapper .col-md-4 {
    order: 2;
}

.Curated-Playlists-wrapper img {
    position: relative;
    left: 0% !important;
    width: 100% !important;
    order: 1;
}
table.table.text-center {
    display: block;
    overflow-x: scroll;
}
.music-source-wrapper .row{
    text-align: center;
}
.music-source-wrapper img {
    padding: 0.5rem;
    margin-bottom: 12px;
}
.library-section h1 {
    font-size: 30px;
}
.modal-title {
    font-size: 25px;
}
.Curated-Playlists-wrapper h1 {
    font-size: 30px;
}
.become-a-label-wrapper h1 {
    font-size: 30px;
}

.become-a-label-wrapper p {
    font-size: 16px;
}

.label-wrapper-info {
    font-size: 14px !important;
    margin-top: 10px;
}

.become-a-label-wrapper h3 {
    font-size: 20px;
    font-family: "Gordita Medium";
}

.become-a-label-wrapper i {
    font-size: 35px;
}

.compare-planes-wrapper h1 {
    font-size: 30px;
}

.compare-planes-wrapper p {
    font-size: 14px;
}

.login-heading {
    font-size: 30px;
}
.policy-section {
    margin-top: 20px;
}
.company-section {
    margin-top: 20px;
}
.table-headings h4 {
    font-size: 16px;
}
.monthly-plans td {
    font-size: 16px;
    font-weight: 500;
}
.charges {
    font-size: 14px;
}
.month {
    font-size: 14px;
}
.subscribe-button {
    font-size: 14px;
    width: max-content;
}
.music-source-wrapper h1 {
    font-size: 30px;
}

.music-source-wrapper p {
    font-size: 16px;
    margin: 15px 0;
}

.sign-up-icon {
    display:block;
    color: #000;
}

.be-dark-mode .sign-up-icon{
    color: #fff;
}

.sign-up-button{
    display: none;
}
.rocord-pool h1 {
    font-size: 30px;
}

.rocord-pool p {
    font-size: 16px;
    font-family: "Gordita Medium";
}

.Daily-Releases-wrapper p {
    font-size: 14px;
}

.Daily-Releases-wrapper h5 {
    font-size: 20px;
}

.Daily-Releases-wrapper i {
    color: #00FF22;
    font-size: 35px;
}
.library-section p {
    font-size: 16px;
    margin: 15px 0 !important;
}

.Curated-Playlists-wrapper p {
    font-size: 16px;
    margin: 15px 0 !important;
}

.modal-header button {
    height: 6rem;
    width: 3rem;
}

.responsive-class1 th:nth-child(2), .responsive-class1 th:nth-child(3), .responsive-class1 th:nth-child(4), .responsive-class1 th:nth-child(5), .responsive-class1 th:nth-child(6) {
display: none;
}

.responsive-class2 td:nth-child(2), .responsive-class2 td:nth-child(3), .responsive-class2 td:nth-child(4), .responsive-class2 td:nth-child(5), .responsive-class2 td:nth-child(6) {
    display: none;
}

.list-of-songs td {
    border-bottom: 1px solid #242424;
    font-size: 12px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
}

.carousel-control-prev {
    left: -10px;
}

.carousel-control-next {
    right: -10px;
}

.modal-details td {
    font-size: 14px !important;
    line-height: 18px;
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // width: 50% !important;
}

.song-download-circle {
    padding: 2px !important;
}

.modes-switcher .form-check-input {
    border: 0;
    width: 45px;
    height: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.be-dark-mode .song-download-icon {
    color: #ddd;
    font-size: 16px;
}

.song-download-icon {
    color: #242424;
    font-size: 16px;
}

.pagination-section {
    margin-top: -35px;
    margin-bottom: 8rem !important;
}

.pagination-section label {
    justify-content: center;
    margin-bottom: 15px;
}

.pagination-section .pagination {
    display: flex;
    justify-content: center;
    float: none;
}
        
// mobile-table-start

.mobile-table h3{
font-size: 20px;
font-family:'Gordita Medium';
}

.mobile-table h4{
font-size: 16px;
font-family:'Gordita Medium';
}

.be-light-mode .mobile-table h4{
    color: #242424;
}

.monthly-plan{
color: #B7B7B7;
font-family: 'Gordita Regular';
}

.mobile-table-border {
border: 4px solid #242424;
border-radius: 5px;

padding: 2rem;
}

.annual-border{
  border-bottom: 2px solid #242424;
}

.be-dark-mode .bg-mobile-table{
background-color: #242424;
}

.bg-mobile-table{
    background-color: #eee;
    }

.mobile-responsive-table{
display:block;
}

.desktop-view-table{
display: none;
}

.carousel-inner {
    margin-top: 20px;
}

.contact-us-form p, label {
    font-size: 14px;
}

.contact-us-heading {
    font-size: 28px;
}
// mobile-table-end


.accordion-wrapper {
    margin: 2rem 0 6rem 0;
}

.payment-history {
    display: inline-block;
    overflow: auto;
}

.playlist-details{
    margin-top: 3rem;
}

.download-time-icon{
    text-align: center;
    display: block !important;
}

.alert-close-icon {
    font-size: 14px;
    line-height: 25px;
}

.member-since,.account-status{
    margin-bottom: 2rem;
}

.about-us-heading {
    font-size: 30px;
    margin-bottom: 15px !important;
}

.about-dj-info {
    font-size: 14px;
    margin-bottom: 3rem;
}

.hr-line {
    margin-bottom: 3rem;
}

.nav-tabs{
    border-bottom: 0px;
  }

.account-tabs .nav-item{
    margin-bottom: 10px;
  }

  .cancel-membership{
    float:none;
  }

.download-times {
    display: contents !important;
    
}

.login-wraaper {
   margin: 4rem 0;
}

.Disclaimer-border{
   margin: 4rem 0rem;
   padding: 2rem 1rem 2rem 0rem;
  }

.modes-switcher{
   margin-right:5px;
}

.music-source-logo {
   margin: 30px 0 0;
}

.scroll-wrapper p {
   font-size: 15px;
}

.disclaimer-heading {
   font-size: 25px;
 }

.playlist-card li{
    width:50%;
  }
.playlist-card {
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.navbar-brand {
    width: 40%;
}
.responsive-header {
    width: 50%;
}
.responsive-table-data{
    display: none;
}
.material-table {
    margin-top: 4rem;
    margin-bottom: 16rem;
  }
  .container-fluid {
    padding: 0rem 1rem;
}

.dropdown-menu {
    min-width: 12rem !important;
}

.cdk-overlay-pane {
    width: auto;
    top: 65px !important;
    right: 65px !important;
}

.material-table td {
    margin: 1rem 0;
}

.rocord-pool-wrapper{
    background-attachment: unset;
}

.library-section{
    background-attachment: unset;
}

.complete-profile-wrapper h1{
    font-size: 28px;
}

// .userNameClass {
//     margin-left: 27px;
//   }

  #dropdownMenuButton1 i {
    display: none;
}

.spain_flag {
    width: 29%;
}

.bg-wrapper .modal-content{
    width: 90% !important;
}

}



@media (min-width: 576px){
.modal-dialog {
max-width: 700px;
margin: 1.75rem auto;
}

}


@media only screen and (max-width:320px){
/* header */
.btn{
    padding: 5px 8px;
    font-size: 14px;
}
.navbar-brand {
    margin-right: 0px !important;
    // width: 50%;
}

/* header-end */


/* Disclaimer-box */
.Disclaimer-border{
padding: 1.5rem 1rem 1rem 1rem;
}
/* Disclaimer-box-end */

.download-times {
    font-size: 11px !important;
}
.download-history-table td{
    font-size: 11px !important;
}
.country-flags img {
    margin-right: 0px;
    height: 60%;
    width: 60%;
}
.modes-switcher {
    margin-right: 0px;
}
.responsive-header {
    width: 50%;
}

// faq-page-start

.FAQ-tabs .nav-link {
    padding: 10px 12px;
}

// faq-page-end

}




